body {
  background-color: rgb(23, 54, 78);
}

.containerResume {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  margin-left: 100px;
  width: 60%;
  background-color: lightgrey;
  text-align: center;
  padding: 20px;
  margin-bottom: 200px;
}
